.bottom-nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 189, 101);
  width: 100vw;
  bottom: 0;
  color: white;
  height: 10vh;
  transition: all 0.3s ease;
}
.show {
  left: 0;
}
.hide {
  left: -110vw;
}
.cart-info {
  background-color: rgba(30, 30, 30, 0.735);
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  left: 0;
  font-size: 0.8rem;
  padding-right: 3rem;
  position: absolute;
}
.cart-info > button {
  position: absolute;
  right: 1rem;
  top: 20%;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  color: white;
}
.btn-cta {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.4rem;
}
